<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Random Walker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <% icon_version = "rabbit-20260507" %>
    <link rel="manifest" href="/manifest.json?v=<%= icon_version %>">
    <link rel="icon" href="/icon.svg?v=<%= icon_version %>" type="image/svg+xml" sizes="any">
    <link rel="icon" href="/icon.png?v=<%= icon_version %>" type="image/png" sizes="512x512">
    <link rel="shortcut icon" href="/favicon.ico?v=<%= icon_version %>">
    <link rel="apple-touch-icon" href="/icon.png?v=<%= icon_version %>">
    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
